{% extends 'adminlte/base.html' %}

{% block title %}
    Facebook Management
{% endblock %}

{% block stylesheets %}
    {% include 'adminlte/lib/_styles.html' %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
{% endblock %}

{% block extra_head %}
    <style>
        .pointer {
            cursor: pointer;
        }
        img {
            height: 50px;
        }
        .overflow {
            height: 60px;
            overflow-y: auto;
        }
        .td_message {
            width: 70%; 
        }
    </style>
{% endblock %}

{% block nav_header %}
    {% include 'libs/_main_header.html' %}
{% endblock %}

{% block nav_sidebar %}
    {% include 'libs/_main_sidebar.html' %}
{% endblock %}

{% block breadcrumbs %}
    <button id="back" type="button" class="btn btn-link">&lt;&lt;Back</button>
{% endblock %}

{% block javascript %}
    {% include 'libs/_scripts.html' %}
    <script>
        $(document).ready(function(){
            $('#post-table').DataTable();

            $(".post-tr").click(function(){
                var post_id = $(this).attr('name');
                window.location.href = "/posts/" + post_id;
                // window.open("/posts/" + post_id);
            });

            $(".btn-delete-cmt").click(function(){
                $.ajax({
                    type: 'POST',
                    url: "https://ftool.ftech.ai/api/Facebook/delCmt",
                    headers: {
                        "client_id": "1",
                        "client_secret":"c7c3f8c507a919a73d1389818ab3bde8"
                    },
                    data: {
                        "commentID": $(this).attr('name')
                    },
                    success: function(response) {
                        location.reload();
                    }
                })
            });

            $(".btn-hide-cmt").click(function(){
                $.ajax({
                    type: 'POST',
                    url: "https://ftool.ftech.ai/api/Facebook/hideCmt",
                    headers: {
                        "client_id": "1",
                        "client_secret":"c7c3f8c507a919a73d1389818ab3bde8"
                    },
                    data: {
                        "commentID": $(this).attr('name')
                    },
                    success: function(response) {
                        location.reload();
                    }
                })
            });

            var cmt_id = "0";
            $(".btn-open-modal").click(function(){
                $("#myModal").modal();
                cmt_id = $(this).attr('name');
            });

            $(".btn-reply-cmt").click(function(){
                $.ajax({
                    type: 'POST',
                    url: "https://ftool.ftech.ai/api/Facebook/replyCmt",
                    headers: {
                        "client_id": "1",
                        "client_secret":"c7c3f8c507a919a73d1389818ab3bde8"
                    },
                    data: {
                        "commentID": cmt_id,
                        "message": $("#message").val()
                    },
                    success: function(response) {
                        location.reload();
                    }
                })
            });

            $(".btn-block-user").click(function(){
                $.ajax({
                    type: 'POST',
                    url: "https://ftool.ftech.ai/api/Facebook/blockUser",
                    headers: {
                        "client_id": "1",
                        "client_secret":"c7c3f8c507a919a73d1389818ab3bde8"
                    },
                    data: {
                        "userid": $(this).attr('name')
                    },
                    success: function(response) {
                        location.reload();
                    }
                })
            });

            $(".btn-unblock-user").click(function(){
                $.ajax({
                    type: 'POST',
                    url: "https://ftool.ftech.ai/api/Facebook/unblockUser",
                    headers: {
                        "client_id": "1",
                        "client_secret":"c7c3f8c507a919a73d1389818ab3bde8"
                    },
                    data: {
                        "userid": $(this).attr('name')
                    },
                    success: function(response) {
                        location.reload();
                    }
                })
            });
        });
    </script>
{% endblock %}
