{% extends 'base.html' %}
{% load tags %}

{% block content %}
    <div class="panel-group">
        <h2>Chi tiết bài viết</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table">
                <tbody>
                    <tr>
                        <th>Nội dung</th>
                        {% if post.entry.0.changes.0.value.message %}
                            <td>{{ post.entry.0.changes.0.value.message }}</td>
                        {% elif post.entry.0.changes.0.value.photos %}
                            <td>
                                {% for image in post.entry.0.changes.0.value.photos %}
                                    <a href="{{ image }}" target="_blank">
                                        <img style="display: inline;" src="{{ image }}" alt="This is photo." />
                                    </a>
                                {% endfor %}
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Ngày tạo</th>
                        <td>{{ post.entry.0.changes.0.value.created_time|date_time }}</td>
                    </tr>
                    <tr>
                        <th>Trang</th>
                        <td>{{ post.entry.0.changes.0.value.from.name }}</td>
                    </tr>
                    <tr>
                        <th>Hành động</th>
                        <td>{{ post.entry.0.changes.0.value.verb|verb }}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        <br/>
        <h2>Bình luận</h2>
        <div class="panel panel-default">
            <div class="panel-body table-responsive" style="min-height: 200px;">
                <table id="post-table" class="table table-hover table-bordered table-condensed" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nội dung</th>
                            <th>Ngày tạo</th>
                            <th>Người tạo</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for comment in comment_list %}
                            <tr>
                                <td class="td_message"><div class="overflow">{{ comment.entry.0.changes.0.value.message }}</div></td>
                                <td>{{ comment.entry.0.changes.0.value.created_time|date_time }}</td>
                                <td>{{ comment.entry.0.changes.0.value.from.name }}</td>
                                <td>{{ comment.entry.0.changes.0.value.verb|verb }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
