{% extends 'base.html' %}
{% load tags %}

{% block content %}
    <h2>Danh sách bài viết</h2>
    <div class="panel panel-default">
        <div class="panel-body table-responsive" style="min-height: 200px;">
            <table id="post-table" class="table table-hover table-condensed" style="width:100%">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Nội dung</th>
                        <th>Ngày tạo</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in post_list %}
                        <tr class="pointer post-tr" name="{{ post.entry.0.changes.0.value.post_id }}">
                            <td>{{ forloop.counter }}</td>
                            {% if post.entry.0.changes.0.value.message %}
                                <td>{{ post.entry.0.changes.0.value.message }}</td>
                            {% elif post.entry.0.changes.0.value.photos %}
                                <td>
                                    {% for image in post.entry.0.changes.0.value.photos %}
                                        <img style="display: inline;" src="{{ image }}" alt="This is photo." />
                                    {% endfor %}
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td>{{ post.entry.0.changes.0.value.created_time|date_time }}</td>
                            <td>{{ post.entry.0.changes.0.value.verb|verb }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}