{% extends 'base.html' %}
{% load tags %}

{% block content %}
    <h2>Danh sách người dùng</h2>
    <div class="panel panel-default">
        <div class="panel-body table-responsive">
            <table id="post-table" class="table table-hover">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên người dùng</th>
                        <th>Tùy chọn</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in user_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ user.name }}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-warning btn-block-user" name="{{ user.id }}">Block</button>
                                    <button type="button" class="btn btn-info btn-unblock-user" name="{{ user.id }}">Unblock</button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}